* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #515076;
  line-height: 1.4;
}

.page {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.main-title {
  font-size: clamp(32px, 5vw, 70px);
  font-weight: 400;
  margin: 80px 0;
  text-align: center;
}

.product-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1110px;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}

.product-card {
  max-width: 340px;
  background: #f7f7fa;
  box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.product-card__img {
  width: 100%;
  height: 245px;
  object-fit: contain;
  margin-bottom: 20px;
}

.product-card__for-skin {
  font-size: 12px;
  text-transform: uppercase;
  color: #a5a3b9;
  margin-bottom: 5px;
}

.product-card__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-card__description {
  font-size: 13px;
  margin-bottom: 15px;
  min-height: 40px;
}

.product-card__composition-title {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
}

.product-card__composition-list {
  list-style-type: circle;
  padding-left: 9px;
  flex-grow: 1;
  margin-bottom: 20px;
}

.product-card__item {
  font-size: 13px;
  margin-bottom: 5px;
}

li::marker {
  color: #515076;
  background-image: url('/images/ellipse.png');
}


.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.product-card__price-text {
  font-weight: 700;
  font-size: 20px;
}

.product-card__price {
  font-weight: 400;
  font-size: 20px;
  white-space: nowrap;
}

.background {
  background-image: url("/images/bg-dandelions.png");
  width: 790px;
  height: 697px;
  position: absolute;
  top: 100px;
  left: 85px;
  z-index: -1;
  top: -580px;
  left: 15px;
  pointer-events: none;
  background-repeat: no-repeat;
}
